services:
  - type: web
    name: vibe-connect-backend
    env: node
    plan: free
    buildCommand: cd server && npm install && npm run build && npx prisma generate
    startCommand: cd server && npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: CORS_ORIGIN
        value: https://vibe-connect-main-apiuwryzz-alis-projects-ee3aa095.vercel.app
